<!DOCTYPE html>
<html>
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Shoes</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- style css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- Responsive-->
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- fevicon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets -->
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">

</head>
<body>
	<header th:insert="fragments/header :: header-principal"></header>

	<main role="main">
		<hr>
		</br> </br> </br>
		<div class="container">

			<div class="card">
				<h4 class="card-header">
					<strong>Crear Marca</strong>
				</h4>
				<div class="card-body">
					<form th:action="@{/marca/save}" method="post" th:object="${marca}">
					
						
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label for="nombre">Nombre</label>
									<input type="hidden" th:field="*{id}">
									 <input type="text"
										class="form-control" id="nombre" name="nombre" th:field="*{nombre}"
										placeholder="Nombre de Marca" required="required">
								</div>
							</div>

						</div>
						<button type="submit" class="btn btn-primary">Guardar</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>
	<!-- Javascript files-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery-3.0.0.min.js}"></script>
	<script th:src="@{/js/plugin.js}"></script>
	<!-- sidebar -->
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<!-- javascript -->
	<script th:src="@{/js/owl.carousel.js}"></script>
	<script
		src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


</body>
</html>