
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Shoes</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- style css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- Responsive-->
<link rel="stylesheet" th:href="@{/css/responsive.css}">
<!-- fevicon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets -->
<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">

<title>Detalle de Oferta</title>

</head>
<body>
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo">
						<a href="#"><img th:src="@{/images/logo-entre-tabas.png}"></a>
					</div>
				</div>
				<div class="col-sm-9">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-item nav-link" th:href="@{/index}">Inicio</a> <a
									class="nav-item nav-link" th:href="@{/zapatilla/mostrar}">Zapatillas</a>
								<a class="nav-item nav-link" href="#">Accesorios de Deporte</a>
								<a class="nav-item nav-link last" href="#"><img
									th:src="@{/images/shop_icon.png}"></a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>


		<main role="main">
			<hr>
			<div class="container">
				</br> </br> </br>
				<div class="row">
					<div class="col-md-3">
						<img class="rounded mx-auto d-block"
							th:src="@{/logos/{img} (img=${zapatilla.imagen})}"
							alt="Generic placeholder image" width="220" height="220">
					</div>
					<div class="col-md-9">
						<div class="card">
							<h4 class="card-header">
								Nombre: <strong th:text="${zapatilla.nombre}"></strong>
							</h4>
							<div class="card-body">
								<h5 class="card-title">
									<strong>Precio: </strong><span th:text="${zapatilla.precio}"></span>
								</h5>

								<div class="card bg-light mb-3">
									<div class="card-body">
										<h5 class="card-tittle">Descripción</h5>
										<p class="card-text" th:text="${zapatilla.descripcion}"></p>
									</div>
								</div>
								<a class="btn btn-primary" href="#" role="button">Comprar</a>
							</div>
						</div>
					</div>

				</div>


			</div>

		</main>

		</br> </br> </br> </br> </br>


		<!-- Javascript files-->
		<script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/jquery-3.0.0.min.js"></script>
		<script src="js/plugin.js"></script>
		<!-- sidebar -->
		<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="js/custom.js"></script>
		<!-- javascript -->
		<script src="js/owl.carousel.js"></script>
		<script
			src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>